td.selected {
	background-color: green;
}

.demo {
	border: 1px solid #c0c0c0;
	border-collapse: collapse;
	padding: 5px;
}
.demo td {
	border: 1px solid #c0c0c0;
	padding: 5px;
	/*width: 10%;*/
	/*padding-bottom: 10%;*/
	height: 0;
	line-height: 0;
	/*position: absolute;*/
}
